body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

h2, p {
  margin: 0;
}


.container {
  width: 1200px;
  min-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

a:hover, a:focus {
  fill: #2196f3; 
  color: #2196f3;
}

.logo:hover{
  color: #000000; 
}

.adress-logo:hover{
  color: #ffffff;
}


.header-wraper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
  min-width: 1200px;
  max-width: 1600px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-child {
  color: #2196f3;
}

.site-nav, .link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

 .site-nav-link {
  margin-right: 50px;
}

.site-nav .site-nav-link:last-child {
  margin-right: 0px;
}


.link-nav {
  color: #212121;
  text-decoration: none;
}

.feedback-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #757575;
  fill: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.feedback-svg {
  margin-right: 10px;
}


/* main */

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}


button {
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
background-color: #f5f4fa;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
border: 1px solid transparent;
text-align: center;
margin: 0px;
}

.button-li {
  margin-right: 8px;
}

button:hover, button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.section  {
  padding-top: 94px;
  padding-bottom: 94px;
}

.name { 
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.discription {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
display: inline-block;
}

.icon-discription {
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  width: 370px;
  height: 404px;
}

.icon-discription:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.last {
margin-bottom: 0px;
}

.discription-block {
  padding: 20px 24px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  }
  

/* Footer */

.adress {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #ffffff;
background-color: #2f303a;
padding-bottom: 60px;
min-width: 1200px;
max-width: 1600px;
}

.adress-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 60px;
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
}


.adress-flex {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.flex-footer{
  display: flex;
}

.contact-links {
  padding-top: 75px;
  padding-left: 70px;
  margin: 0;
  
}

.title-footer-link{
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin:0 0 20px 0;
}

.social-icon-footer {
  display: flex;
  justify-content: space-between;
}

.icon-footer-link {
  margin-right: 10px;
}

.icon-footer-link:last-child{
  margin: 0;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer:hover {
  background-color: #2196f3;
  fill: #ffffff
}