h2, h3, p {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

a:hover, a:focus { 
  color: #2196f3
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-child {
  color: #2196f3;
}

.site-nav {
  display: flex;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
margin-left: 93px;
}

.feedback {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.link-nav {
  color: #212121;
  text-decoration: none;
  padding-right: 50px;
}

.feedback-link {
  color: #757575;
  text-decoration: none;
  padding-right: 50px;
}


/* Main */

.hero {
  background-color: #2f303a;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 280px;
}

.hero-name {
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #ffffff;
padding-top: 200px;
margin: 0;

}

button {
  font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
background-color: #2196f3;
color: #ffffff;
cursor: pointer;
margin-top: 30px;
border-radius: 4px;
border: 1px solid transparent;
padding: 10px 32px 10px 32px;
}

button:hover, button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

.section {
  margin-top: 94px;
}

.section-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

.title-text {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
padding-top: 10px;

}

.title-text-item {
  margin-right: 30px;
}



.description {
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
padding-bottom: 50px;
}

.description-img {
  padding: 0px;
  margin-right: 30px;
}

.name {
  font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
padding-top: 30px;
}

.job-title {
  font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
padding-top: 10px;
}

/* Footer */

.adress {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #ffffff;
background-color: #2f303a;
padding-bottom: 60px;
}

.adress-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 60px;
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
}

/* Flexbox */

.main-nav {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 32px 0px;
}

.title-block {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.description-block {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-left: 0px;
}

.description-team {
  margin: 0px;
padding:0px;
  display: flex;
  justify-content: space-between;
  
}

.adress-flex {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}