body {
  background-color: #ffffff;
  font-family: 'Roboto' sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

a:hover, a:focus { 
  color: #2196f3
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-child {
  color: #2196f3;
}

.site-nav {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
margin-left: 93px;
}


.feedback {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 196px;
  margin-right: 0;
}



.link-nav {
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
}


.feedback-link {
  color: #757575;
  text-decoration: none;
  margin-right: 50px;
}


/* main */

ul {
  list-style-type: none;
  margin: 0;
}

button {
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
background-color: #f5f4fa;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
border: 1px solid transparent;
text-align: center;
margin-right: 8px;
}

button:hover, button:focus {
  background-color: #2196f3;
  color: #ffffff;
}


.name { 
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
margin: 0;
}

.discription {
  font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
margin: 0;
}

.icon-discription {
  padding-left: 15px;
  padding-top: 30px;
  padding-right: 15px;
}

/* Footer */

.adress {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #ffffff;
background-color: #2f303a;
margin-top: 94px;
padding-bottom: 60px;
}

.adress-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 60px;
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Flexbox */
.site-nav {
  display: flex;
}

.feedback {
  display: flex;
}

.main-nav {
 display: flex;
 align-items: center;
 margin: 32px 0 32px 0;
}

.buttons {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  padding-bottom: 20px;
}

.icon-list {
margin-top: 50px 0 0 0;
display: flex;
flex-wrap: wrap;
padding: 0;
}

.adress-flex {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
