body {
  background-color: #ffffff;
  font-family: 'Roboto';
  color: #212121;
}

/* Header */

a:hover, a:focus { 
  color: #2196f3
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-child {
  color: #2196f3;
}

.site-nav, .feedback {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
}

.link-nav {
  color: #212121;
  text-decoration: none;
}

.feedback-link {
  color: #757575;
  text-decoration: none;
}

/* main */

.buttons {
  list-style-type: none;
}

button {
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
background-color: #f5f4fa;
cursor: pointer;
}

button:hover, button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.title {
  list-style-type: none;
}

h2 { 
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
}

p {
  font-weight: 400;
font-size: 16px;
line-height: 1.87px;
letter-spacing: 0.03em;
color: #757575;
}

/* Footer */

.adress {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #ffffff;
background-color: #2f303a;
}

.adress-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}